* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Import Roboto weight black from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Navigation bar */
.navBarMain{
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 2px solid #EAEAEA;
}

.hamburgerMenuIcon{
  display: none;
}

.logoDiv{
  display: flex;
  width: 20%;
  height: inherit;
}

.logoBtn{
  width: 120px;
  height: 70px;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rebeccapurpled;
  -webkit-tap-highlight-color: transparent;
}

.solentLogo{
  width: 120px;
  height: 70px;
}

.logoDiv{
  width: 19%;
  height: 70px;
  margin: 0.5em 0 0 1.5em;
}

.pageIndicatorDiv{
  display: flex;
  align-items: center;
  width: 40%;
  height: inherit;
  padding: 0 0 0 2em;
}

.pageIndicatorDiv > h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #E30613;
}

.registerLoginBtns{
  height: inherit;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5em 0 0;
  gap: 0.5em;
}

.registerBtn{
  width: 110px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: none;
  outline: none;
  background: linear-gradient(150.76deg, #2B3594 0%, #ED1C24 94.54%);
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.askQuestionBtn{
  width: 150px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: none;
  outline: none;
  background: linear-gradient(150.76deg, #2B3594 0%, #ED1C24 94.54%);
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  cursor: pointer;
}

a:-webkit-any-link{text-decoration: none;}

.registerBtn:hover{
  background: linear-gradient(150.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.askQuestionBtn:hover{
  background: linear-gradient(150.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.loginBtn{
  width: 70px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: none;
  outline: none;
  background: linear-gradient(150.76deg, #2B3594 0%, #ED1C24 94.54%);
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.loginBtn:hover{
  background: linear-gradient(150.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

/* Burger Menu */
.mobileNavigation{
  display: none;
}
/* Side bar */

.sideBarMain{
  width: 20%;
  height: calc(100vh - 100px);
}

.sideBarFlex{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;

}

.searchContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0 0 1.5em;
  gap: 0.5em;
  margin: 0 0 3em 0;
}

.searchIcon{
  height: 25px;
  align-self: center;
  cursor: pointer;
}

.searchInput{
  outline: none;
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  padding: 0 0 0 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #EEEEEE;
}

.searchInput:focus{
  background-color: #F3F3F3;
}

.searchInput::placeholder{
  color: black;
  opacity: 1;
  font-weight: 500;
}

.menu-paragraph{
  padding: 0 0 1em 2em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #808080;
}

.questionsBtn{
  width: 100%;
  height: 38px;
  display: flex;
  padding: 0 0 0 2em;
  align-items: center;
  gap: 0.5em;
  border: none;
  outline: none;
  background: linear-gradient(150.76deg, #2B3594 0%, #ED1C24 94.54%);
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.questionsBtn:hover{
  background: linear-gradient(150.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.tagsBtn{
  width: 100%;
  height: 38px;
  display: flex;
  padding: 0 0 0 2em;
  margin: 0.5em 0 0 0;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  border: none;
  outline: none;
  background-color: #EAEAEA;
  color: black;
  /* background: linear-gradient(163.76deg, #2B3594 0%, #ED1C24 94.54%); */
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.tagsIconAndTextContainer{
  display: flex;
  align-items: center;
  color: black;
  gap: 0.5em;
}

.arrowVector{
  padding: 0 1em 0 0;
  fill: white;
}

/* .tagsBtn:hover{
  background: linear-gradient(163.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
} */

.socials{
  width: 100%;
  gap: 1em;
  display: flex;
  justify-content: center;
}

.socials:last-of-type{
  margin-top: auto;
}

/* Main Content */
.flexContainer{
  display: flex;
}

.searchContainerMain{
  display: none;
}
.mainContainer{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #F7F7F7;
  display: flex;
  justify-content: flex-start;
  /* padding: 0 1.3em 0 0; */

}

.mainContent{
  /* background-color: rebeccapurple; */
  width: 73%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

/* Right side info */

.rightSideInfoMain{
  display: flex;
  width: 22%;
  height: 45%;
  flex-direction: column;
  margin: 2em 0 0 0;
  /* background-color: red; */
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

.mustRead{
  display: flex;
  width: 80%;
  gap: 0.5em;
  padding: 1em;
  align-items: center;
}

.mustReadBorder , .featuredLinksBorder{
  margin:  0 0 0 1em;
  width: 90%;
  border-bottom: 2px solid #EAEAEA;
}

.featuredLinks{
  display: flex;
  gap: 0.5em;
  padding: 1em;
  align-items: center;
}

.mustRead > p, .featuredLinks > p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.mustReadList, .featuredLinksList{
  margin: 0 0 0 0.5em;
}

.mustReadList > li, .featuredLinksList > li{
  color: #1682FD;
  padding: 0.5em 1.5em 0 0.5em;
}
.mustReadList > li > a, .featuredLinksList > li > a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.03em;
  color: #1682FD;
  text-decoration: none;
}

.rightSideInfoMain> ul {
  padding: 0 0 0 2em;
}

/* Card Filters */
.cardFilter{
  width: 100%;
  display: flex;
  padding: 2em 0 2em 3em;
  /* justify-content: center; */
  gap: 0.5em;
}

.cardBtn{
  width: 75px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: none;
  border-radius: 100px;
  background-color: #EAEAEA;
  outline: none;
  cursor: pointer;
}

.flameIconPath{
  fill: #808080;
}

.arrowUpIconPath, .clockIconPath{
  stroke: #808080;
}

.cardBtn:hover{
  background: linear-gradient(150.76deg, #2B3594 0%, #ED1C24 94.54%);
  color: white;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.cardBtn:active{
  background: linear-gradient(150.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.cardBtn:active > .clockIcon > .clockIconPath,
.cardBtn:hover > .clockIcon > .clockIconPath{
  stroke: white;
}
.cardBtn:active > .flameIcon > g > .flameIconPath,
.cardBtn:hover > .flameIcon > g > .flameIconPath{
  fill: white;
}

.cardBtn:active > .arrowUpIcon > .arrowUpIconPath,
.cardBtn:hover > .arrowUpIcon > .arrowUpIconPath{
  stroke: white;
}

.checkIconPath{
  stroke: #808080;
}

.cardBtn:active > .checkIcon > g > .checkIconPath,
.cardBtn:hover > .checkIcon > g > .checkIconPath{
  stroke: white;
}

/* Post Card */

.postCardMain{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 0 3em;
  width: 90%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F7F7F7; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.postCard{
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  padding: 1em;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  margin: 0 0 1em 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

.postCard:hover{
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
}

.cardHeader{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.cardPoster{
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  gap: 1em;
}

.cardPosterName{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.posterName{
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.timePosted{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #808080;
}

.cardPosterImage > img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  /* Prevent images from bein pixelated */
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor; 
}

.cardMainInfo{
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5em;
}

.cardTitle > p{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.cardQuestion{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.cardFooter{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 1em;
}

.cardReactions{
  display: flex;
  /* justify-content: space-evenly; */
  gap: 1em;
  align-items: center;
}

.postBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  border: none;
  cursor: pointer;
  color: #808080;
}

.postBtn > svg{
  width: 15px;
  height: 15px;
}

.cardTags{
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.tag{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  width: auto;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  color: #808080;
  padding: 10px;
  border-radius: 5px;
}

/* Register Page */

.registerComponent{
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}

.registerFormContainer{
  width: 35%;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10em 0 0 0;
  align-items: center;
}

.registerFormContainer > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.registerFormContainer > p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.registerForm{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.registerForm > input{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  width: 380px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid  #EAEAEA;
  border-radius: 5px;
  padding: 0 0 0 1em;
  outline: none;
}

.registerForm > input::placeholder{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.registerForm > input:hover{
  border: 1px solid black;
}

.registerForm > input:focus{
  border: 1px solid black;

}

.registerFormBtn, .loginFormBtn{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  width: 380px;
  height: 42px;
  background: linear-gradient(163.76deg, #2B3594 0%, #ED1C24 94.54%);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

.registerFormBtn:hover, .loginFormBtn:hover{
  background: linear-gradient(163.76deg, #ED1C24 0%, #2D3594 94.54%);
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.gotAnAccount, .dontHaveAcc{
  display: flex;
  gap: 0.5em;
}

.gotAnAccountLink, .dontHaveAccLink, .forgotPassLink{
  color: #1682FD;
}
.gotAnAccountLink:hover, .dontHaveAccLink:hover, .forgotPassLink:hover{
  color: #1682FD;
  text-decoration: underline;
}

.registerComponentImage{
  width: 65%;
  height: calc(100vh - 71px);  
}

.registerComponentImage > img{
  height: 100%;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: center;
  border-top: 2px solid #EAEAEA;
}

.footer > ul{
  list-style: none;
}

.footer > ul > li, .footer > ul > h3{
  text-align: left;
}

.footer > ul > li{
  padding: 0.5em 0 0 0;
}

.footer > ul > li > a{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.footer > ul > li > a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1140px){
  .rightSideInfoMain{
    display: none;
  }
  
  .mainContent{
    width: 100%;
  }
}

@media screen and (max-width: 1000px){

  .searchContainer > img, .searchContainer > input{
    display: none;
  }

  .searchContainer{
    height: 78px;
  }

  .searchContainerMain{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;
  }
  
  
  .searchIconMain{
    height: 25px;
    -webkit-tap-highlight-color: transparent;
    align-self: center;
    cursor: pointer;
  }
  
  .searchInputMain{
    outline: none;
    border: none;
    height: 30px;
    width: 80%;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 0 0 0 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #EEEEEE;
  }
  
  .searchInputMain::placeholder{
    color: black;
    opacity: 1;
    font-weight: 500;
  }
}

@media screen and (max-width: 1144px){

  .registerComponent{
    width: 100%;
  }

  .registerComponentImage{
    width: 100%;
  }

  .registerComponentImage > img{
    width: 100%;
  }

  .registerFormContainer{
    color: #F7F7F7;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    position: absolute;
    background-color: rgba(247, 247, 247, 0); 
    width: 100%;
    height: calc(100vh - 71px); 
  }

  .gotAnAccountLink, .dontHaveAccLink {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .gotAnAccount{
    color: black;
    text-shadow: none;
  }

  .dontHaveAcc{
    color: black;
    text-shadow: none;
  }
}

@media screen and (max-width: 667px){
 
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #F7F7F7; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .hamburgerMenu{
    width: 40px;  
  }

  .hamburgerMenuIcon{
    display: block;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    width: 40px;
    cursor: pointer;
  }

  .navigation{
    display: none;
  }

  .mobileNavigation{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: rgba(161, 161, 161, 0.8);
    border-radius: 5px;

  }
  .tagsBtn{
    display: none;
  }

  .menu-paragraph{
    display: none;
  }

  .logoDiv{
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

  .solentLogo{
    width: 82px;
    height: 70px;
    margin: 0 0 0 0.5em;
  }

  .pageIndicatorDiv{
    display: none;
  }
  .registerLoginBtns{
    width: 100%;
    padding: 0 0.5em 0 0;
  }
  .registerBtn{
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .loginBtn{
    width: 60px;
    height: 30px;
    font-size: 10px;
  }

  .registerComponentImage{
    display: none; 
  }

  .registerFormContainer{
    position: relative;
    text-shadow: none;
    background-color: rgba(247, 247, 247, 0); 
    width: 100%;
    height: calc(100vh - 80px); 
  }

  .registerForm > input, .registerFormBtn, .loginFormBtn{
    width: 95%;
  }

  .registerFormContainer{
    text-align: center;
  }
  
  .registerFormContainer{
    color: black;
  }
  
  .gotAnAccountLink, .dontHaveAccLink {
    text-shadow: none;
  }

  .gotAnAccount{
    color: black;
    text-shadow: none;
  }

  .dontHaveAcc{
    color: black;
    text-shadow: none;
  }

  .sideBarMain{
    display: none;
  }

  
.searchContainerMain{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  gap: 0.5em;
}


.searchIconMain{
  height: 25px;
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  cursor: pointer;
}

.searchInputMain{
  outline: none;
  border: none;
  height: 30px;
  width: 80%;
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 0 0 0 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #EEEEEE;
}

.searchInputMain::placeholder{
  color: black;
  opacity: 1;
  font-weight: 500;
}

.mainContainer{
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px)
}

.postCardMain{
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
}

.postCard{
  width: 90%;
}

.cardFilter{
  padding: 0;
  justify-content: center;
}

.cardMainInfo{
  align-items: center;
}

.cardFooter{
  flex-direction: column;
}

.cardReactions{
  justify-content: space-evenly;
}

.footer {
  display: none;
}
} 